<a href="https://colab.research.google.com/github/Nageshwararaov/Python/blob/main/Python_Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Everyone")

Hello Everyone

In [ ]:
print(1+2)

3

In [ ]:
type(-3)

int

In [ ]:
type(3.4)

float

In [ ]:
type('23')

str

In [ ]:
print('2+5')

2+5

In [ ]:
type(True)

bool

In [ ]:
# Python is Case Sensitive

In [ ]:
type(true)

NameError: ignored

In [ ]:
#None Type

In [ ]:
type(None)

NoneType

In [ ]:
type('') ## empty string

str

In [ ]:
type(" ")

str

In [ ]:
# Everything in python is an Object

In [ ]:
print("A", "J", 1, 1.5, 5)

A J 1 1.5 5

In [ ]:
x=2
y=3
print('x'+'y')

xy

In [ ]:
x = 2
y=3
print(x+y)

5

In [ ]:
a = 2
print(a, 'a')

2 a

In [ ]:
x= 3
y = "hello"
num = y
y = 5
print(num, y)

hello 5

In [ ]:
a1 = 2

In [ ]:
a1

2

In [ ]:
a2b=3

In [ ]:
a2b

3

In [ ]:
print("A\nB\nC\nD\nE")

A
B
C
D
E

In [ ]:
print("A")
print("B")
print("C")
print("D")
print("E")

A
B
C
D
E

In [ ]:
a = input()
b = input()
print(a+b)

4
5
45

In [ ]:
print(type(1))
print(type(str(True) + '1'))
print(type(float(int(0.1))))
print(type(True))
print(type(Float(1)))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

NameError: ignored

In [ ]:
Print('2+5') #### Python is Case sensitive

NameError: ignored

In [ ]:
## operators

In [ ]:
10 + 3

13

In [ ]:
10 -3

7

In [ ]:
10 * 3

30

In [ ]:
10/3

3.3333333333333335

In [ ]:
4/2

2.0

In [ ]:
#### Rule 1 Python operators try to retain as much data as possible.

In [ ]:
# whenever we divide two inters or floats always the result will be float because python try to retain data as much as possbile/''

In [ ]:
2 + 'aj'

TypeError: ignored

In [ ]:
"2"+"aj"

'2aj'

In [ ]:
9 - 2.2

6.8

In [ ]:
10-4

6

In [ ]:
2.2+5

7.2

In [ ]:
# Rule 2 ---> whenever atleast one operand is float the result will be float always

In [ ]:
10/2.5

4.0

In [ ]:
# // Floored division operator

In [ ]:
# floor(x) --> greatest integer that is smaller than x

In [ ]:
10//3

3

In [ ]:
10//2.5

4.0

In [ ]:
5/4

1.25

In [ ]:
5//4

1

In [ ]:
-5//4

-2

In [ ]:
# // fLOORED DIVISION OPERATOR

In [ ]:
# ** operator

In [ ]:
3 ** 3

27

In [ ]:
25 ** 0.5

5.0

In [ ]:
2 ** 2

4

In [ ]:
2 ** 3

8

In [ ]:
1/0

ZeroDivisionError: ignored

In [ ]:
0/1

0.0

In [ ]:
# % Remainder

In [ ]:
10%5

0

In [ ]:
10%2

0

In [ ]:
10%3

1

In [ ]:
-10/3

-3.3333333333333335

In [ ]:
-10%3

2

In [ ]:
5/5

1.0

In [ ]:
# BODMAS

In [ ]:
# B --> Bracket
# O --> Order
# D --> Division
# M --> Multiplication
# A --> Addition
# S --> Subtraction

In [ ]:

# For Addition Subtraction --> Same level of precedence
# For Division Multiplication --> Same level of precedence
# When same order of precedence is occured, then the execution starts from Left to Right

In [ ]:
10-2+3

11

In [ ]:
10 - (2+3)

5

In [ ]:
(10 - 4 * 2 + 5 - 6/2)
# 10 - 8 + 5 - 3
# 2 + 5 -3 = 4

4.0

In [ ]:
# Comparator / RElationship Operators

In [ ]:
5 == 5.00

True

In [ ]:
4 == 5

False

In [ ]:
a = 5
b = 3
a == b

False

In [ ]:
# Truthy and Falsey Values

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(5)

True

In [ ]:
bool(-5)

True

In [ ]:
## Every number except 0 is considered as Truthy in Python

In [ ]:
bool(0.1)

True

In [ ]:
bool(0.00)

False

In [ ]:
# Every non empty string is truthy in python

In [ ]:
bool("Nagesh")

True

In [ ]:
bool("")

False

In [ ]:
bool(" ")

True

In [ ]:
bool("False")

True

In [ ]:
bool(4 !=3)

True

In [ ]:
# 3. Assignment Operators

In [ ]:
# = --> Assignment standard operator

In [ ]:
a = 4
b = a + 4

In [ ]:
a

4

In [ ]:
b

8

In [ ]:
a = 4

a = a + 4  ### Always the right part computes first and then once value is calculated then the assignment happens.

In [ ]:
a

8

In [ ]:
############ Special assignment operators

In [ ]:
## *=, **= /= //=

In [ ]:
a = 4
a += 4

In [ ]:
a

8

In [ ]:
a -= 3

In [ ]:
a

5

In [ ]:
a /= 3

In [ ]:
a

1.6666666666666667

In [ ]:
a **= 3

In [ ]:
a

4.629629629629631

In [ ]:
a = 2
a **= 3

In [ ]:
a

8

In [ ]:
print(True == 1)

True

In [ ]:
print(False == 0)

True

In [ ]:
a = -3
b = -1
c = -1

x = a<b+c  #### Here b + c evaluates first and then compare the result of (b + c) with a that is a < (b + c)
print(a<b-1)
print(x)

True
True

In [ ]:
print((3 + 4) // 2 + 6)

9

In [ ]:
2 +6

8

In [ ]:
7 // 8

0

In [ ]:
n = input()

5

In [ ]:
print(n)

5

In [ ]:
type(n)

str

In [ ]:
p = int(input())

5

In [ ]:
type(p)

int

In [ ]:
### Logical Operators

In [ ]:
## 1. AND Operator

In [ ]:
54<= 67

True

In [ ]:
a = 10

In [ ]:
a > 10

False

In [ ]:
not(a<20)

False

In [ ]:
(a>0 and a < 20)

True

In [ ]:
a >0 or a < 1000

True

In [ ]:
(a > 5 and a>7) or (a<5 and a < 7)

True

In [ ]:
# Control Statements

In [ ]:
# Run code based on some conditions

In [ ]:
# IF Condition

In [ ]:
n = 5
if n %2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
# Take a input from the user and print if it is Odd or Even print accordingly.

In [ ]:
n = int(input())
if n % 2 == 0:
  print("Even")
else:
  print("Odd")

6
Even

In [ ]:
print("0")
if 54 < 60:
  print("1")
  print("2")
else:
  print("3")
  print("4")
print("5")

0
1
2
5

In [ ]:
## Notes - Explanation

In [ ]:
# if condition:
  ## Execute when condition is true
# else:
  ## Execute when condition is false

In [ ]:
a = 4
result = a **2
print(result)
if result > 25:
  print("A")
else:
  print("B")
print("C")

16
B
C

In [ ]:
a = 5
result = a **2
print(result)
if result > 25:
  print("A")
else:
  print("B")
print("C")

25
B
C

In [ ]:
a = 6
result = a **2
print(result)
if result > 25:
  print("A")
else:
  print("B")
print("C")

36
A
C

In [ ]:
# If can exist without else block as well

In [ ]:
a = 10
if a == 10:
  print("A")
print("B")

A
B

In [ ]:
## Else block can not exist without IF block

In [ ]:
# Write a program that takes student name, marks as input and print Pass if marks are than 35 else print  You can do better

In [ ]:
marks = int(input())
if marks > 35:
  print("Pass")
else:
  print("You can do better")

49
Pass

In [ ]:
marks = int(input())
if marks > 95:
  print("A")
elif marks >= 70 and marks <= 90:
  print("B")
elif marks > 30 and marks < 69:
  print("C")
elif marks < 30:
  print("You can do better")

34
C

In [ ]:
a = 5
if a > 7:
  print("A")
elif a > 2:
  print("B")
else:
  print("C")

B

In [ ]:
a = 5
if a > 7:
  print("A")
elif a > 2:
  print("B")
elif a > 3:
  print("D")
else:
  print("C")

B

In [ ]:
#  Extra knowledge to write better code

marks = int(input())
if marks > 95:
  print("A")
elif marks >= 70:
  print("B")
elif marks > 30:
  print("C")
elif marks < 30:
  print("You can do better")

36
C

In [ ]:
a = 10
if a > 15:
  print("A")
elif a < 3:
  print("B")
elif a > 20:
  print("C")
else:
  print("D")

D

In [ ]:
3 ** 2 ** 0 ## almost all of the operators follow left to right precedence but only power operator follows right to left precedenc

3

In [ ]:
 ### Control Statements class 2

In [ ]:
# q1 Take integer as input and check whether it is positive or negaive, consider 0 as positive number

In [ ]:
n = int(input())
if n>= 0:
  print("Positive")
else:
  print("Negative")

-1
Negative

In [ ]:
# q2 take an integer as input and check whether it is positive or negative, or equal to zero

In [ ]:
n = int(input())
if n == 0 :
  print("Zero")
elif n >0:
  print("Positive")
else:
  print("Negative")

2
Positive

In [ ]:
# Q3 Take an integer as input
# if (n **5)%40 is greater than 15, then print "Black" else print "Blue"

# Note: if input is not a non-negative single digit number print "Invalid"

In [ ]:
n = int(input())
if not(n < 10 and n >= 0):
  print("invalid")
elif (n ** 5)%40 > 15:
  print("Black")
else:
  print("Blue")

4
Black

In [ ]:
# q4 Take a string as feedback from user
# If the feedback is empty, print "Please provide feedback next time"
# If feedback is any of "Great", "Super", "Awesome"
# then print "Thanks for your feedback"
# In other cases print "See you again"

In [ ]:
s = input()
if not s:
  print("Please provide feedback next time")
elif s == "Great" or s == "Super" or s == "Awesome":
  print("Thanks for your feedback")
else:
  print("See you again")

Please provide feedback next time

In [ ]:
## Fizz Buzz

In [ ]:
# Take an integer as input
# if n is multiple of only 3 print Fizz
# if n is multiple of only 5 print Buzz
# else if n is multiple of both 3 and 5 print FizzBuzz

In [ ]:
n = int(input())
if n %3 == 0  and n % 5 == 0:
  print("FizzBuzz")
elif n %3 == 0 :
  print("Fizz")
elif n %5 == 0:
  print("Buzz")
else:
  print("None of the above")

5
Buzz

Q5: Take three inputs from a user which are marks in science, english and maths. Assign the stream according to the following criteria (Bad process : - ):

If marks in science > 90 or marks in each of the 3 subjects are greater than or equal to 75 - print "A"

if marks in each of the 3 subjects are greater than or equal to 60 and less than 75 -- print "B"

if marks in each of the 3 subjects are less than 60 -- print "C"

Learnings:

Understanding the question is 50% of the problem solved.

Patiently reading the question

In [ ]:
science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and english >= 75 and maths >= 75):
  print("A")
elif (science >= 60 and science < 75) and (maths >= 60 and maths < 75) and (english >= 60 and english < 75):
  print("B")
elif science < 60 and maths < 60 and english < 60:
  print("C")

65
65
65
B

In [ ]:
n = 5
if n > 3 and n < 20:
  print(True)
else:
  print(False)

True

In [ ]:
print( 20 > n > 3)   ### We can also rewrite this way.

True

In [ ]:
## using above such syntax
science = int(input())
english = int(input())
maths = int(input())


if science > 90 or (science >= 75 and english >= 75 and maths >= 75):
  print("A")
elif (65 <= science  and 65 <= maths  and 65 <= english):
  print("B")
elif science < 60 and maths < 60 and english < 60:
  print("C")

80
70
60

In [ ]:
##### To add elements to an array, we use .append function like arr.append

In [ ]:
# Problem Solving - 1

In [ ]:
print("a", "b", "c", "d")

a b c d

In [ ]:
print("ab")

ab

In [ ]:
print(str(3)+str(5))

35

In [ ]:
# BODMAS Rule  --> Q8 = (3 + 4) // 2+ 6  -->Here first Brackets values will be evaluated to 7 and 7 // 2 will be evaluated and then to the result 6 will be added.

In [ ]:
(3 + 4) // 2 + 6

9

In [ ]:
True == 1

True

In [ ]:
int(True)

1

In [ ]:
False == 0

True

In [ ]:
234 % 10 #### Gives the last digit each time divided by 10 remainder is the last digit.

4

In [ ]:
234 // 10  #### Gives the digits except last digit.

23

In [ ]:
A = 10
count = 0
A //= 2
for i in range(1, A+1):
    if A % i == 0:
        count += 1
print(count)

2

In [ ]:
# Class ------ Number System and Basic Maths ---

General Base (b)

(721)base b

= 7 x b^2 + 2 x b^1 + 1 x b^0

In [ ]:
print(sum(range(0, 7)))

21

In [ ]:
# 001111 == > 0 x 2^5 + 0 x 2 ^4 + 1 x 2 ^3 + 1 x 2 ^2 + 1 x 2^1 + 1x2^0
# => 8 + 4 + 1 + 1
# = 12 + 1 + 1
# = 14

In [ ]:
# Observation --> Leading zeros has no significanse to the value in binary form

(1110010)(2) --> 2 ^ 6 + 2 ^5 + 2 ^4 + 2 ^1

22 --> closed or nearest square is 16 + 6

16 --> can be written as 2 ^4
6 --> 4 + 2
4 --> 2 ^2
2 --> 2 ^ 1

so we have 2 ^4 + 2 ^2 + 2^1 --> equation 1

4 3 2 1 0 --> powers so we can also write it as
1 0 1 1 0 --> 2 ^3 is not present in the equation 1 so we have put 0 there and 0 th power is also not these so zero .

so finally 22(2) is --> 10110

29 --> closed is that is in terms of 2 powers is 16 that is 2 ^4
29 --> 16 + 13
16 --> 2 ^ 4
13 --> 2 ^ 3 = 8 + 4 + 1
8 --> 2 ^3
4 --> 2 ^2
1 --> 2 ^ 0

so finally --> 2 ^ 4 + 2 ^3 + 2 ^2 + 2 ^ 0

so answer would be 1 1 1 0 1

Method 2 -->

Continously divide the value by 2 and write down remainder.

now take the remainders from bottom to top.

In [ ]:
# In python to find binary of a number we will use

# bin(5) --> binary equavalent of a number

In [ ]:
# Log functions

In [ ]:
# 2 ^ 6 = 64

In [ ]:
# log2 (64) = 6

In [ ]:
# Log is nothing but how many times can we raise 2 to the power to get remainder as  1 that is called log function.

# **Range Functions **

[ --> When you have this braces (square brackets) it means the value is included

( --> When you have parantheses it means the value is excluded


Examples:

1. [1,10] --> this gives values from 1, 2, 3, 4, 5, 6, 7, 8, 9, 10.

2. (1, 10) --> this gives values from 2, 3, 4, 5, 6, 7, 8, 9

3. [5, 7)  --> this gives values from 5, 6 because [ is included and ) is exluded so we are not taking 7.

4. (7, 10] --> this gives values from 8, 9, 10

Count of integers in a range

[1, 10] --> 10

[ 2, 8] --> 7

[a, b] --> b-a+1 --> formula

(a, b) --> (b-a+1)-2 --> formula --> b-a-a --> same

[a, b) --> b-a

(a, b] --> b-a

## Range method in Python

Range method

syntax -->

  range(1, 10)

  the first value 1 is included and 10 that is last value is excluded.

In [ ]:
list(range(7, 11))

[7, 8, 9, 10]

In [ ]:
list(range(2,3))

[2]

In [ ]:
# Q1. log6(36^2)

# log6 (1296) = 6 ^ 4

# so here  the answer is 4

# Q2. What is the result (in binary) of multiplying the binary number 1100 by the binary number 10?
The correct answer is: 11000

Explantion:

1100 = 4 + 8 = 12 in decimal.
10 = 2 in decimal.
12 * 2 = 24
Converting 24 to decimal, we get 11000.

Q3. If a binary number ends in 1 (like 1001 or 111011), then it is

Answer --> Always ODD

Q4 : Here're some base-10 logarithms:

log10(1000) = 3

log10(49323)  4.69

log10(100000) = 5

log10(333333)  5.52

Which statement is true?

Answer : The base-10 log of a number, if rounded down, is 1 less than the number of digits of the number.

## **WHILE LOOP**

In [ ]:
# While condition is true keep looping

In [ ]:
n = 1
while n <= 5:
  print(n)
  n = n + 1

1
2
3
4
5

In [ ]:
n = 1
c = 0

while n <= 5:
  n = n + 1
  c = c + 1
  print(c)


print("The value of c ", c, n)

1
2
3
4
5
The value of c  5 6

In [ ]:
## Take an integer from user and print all the alternate numbers

n = 1
while n <= 7:
  print(n)
  n = n + 2

1
3
5
7

In [ ]:
print("a")
print("b")
print("c")

a
b
c

In [ ]:
## default print statement takes "\n" = new line as default end statement
# but we can provide specific end as mentioned

In [ ]:
print("a", end=" ") ### Here i am specifying space( ) as specific end so it is printing in the same line separated by space( )
print("b", end=" ")
print("c", end=" ")

a b c

In [ ]:
print("a", end=",") ### Here i am specifying space( ) as specific end so it is printing in the same line separated by space( )
print("b", end=",")
print("c", end=",")

a,b,c,

In [ ]:
print("a", end="\n") ### Here i am specifying space( ) as specific end so it is printing in the same line separated by space( )
print("b", end="\n")
print("c", end="\n")

a
b
c

In [ ]:
print("a", end="##") ### Here i am specifying space( ) as specific end so it is printing in the same line separated by space( )
print("b", end="__")
print("c", end="%%")

a##b__c%%

In [ ]:
'''
Given a number

print its multiplication table till its 5th multiple - each multiple separated by a space



'''

'\nGiven a number \n\nprint its multiplication table till its 5th multiple - each multiple separated by a space \n\n\n\n'

In [ ]:
n = 5
i = 1
while  i <=5:
  print(i * n, end=' ')
  i = i + 1

5 10 15 20 25

In [ ]:
n = 5
i = 1
while i <=10:
  print(n, ' X ', i, ' = ', n * i)
  i = i + 1

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

## **Nested Loop**

In [ ]:
# Multiplication table

In [ ]:
n = 6
i = 1
while i <= 10:
  j = 1
  while j <= 10:
    print(i * j, end=" ")
    j += 1
  print("\n")
  i += 1

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [ ]:
# You take a number of test cases, denoted by T as input.For each test case, you should take integers N as input. Your task is to calculate and print the sum of the digits of the given number N.

In [ ]:
n = int(input())
for i in range(n):
    value = int(input())
    sum = 0
    while value:
        dig = value % 10
        value //= 10
        sum += dig
    print(sum)

2
5
5
1001
2

## while loops

Range

In [ ]:
list(range(-5))  ### give empty because the starting value 0  so since it starts from 0 and increment by 1 so -5 is not between those values, so not printing.

[]

In [ ]:
print(list(range(5, 2,-1)))

[5, 4, 3]

In [ ]:
print(list(range(-1,-9,-1)))

[-1, -2, -3, -4, -5, -6, -7, -8]

In [ ]:
for i in range(5):
  print(i)


print("i",i)

0
1
2
3
4
i 4

In [ ]:
## print all the even numbers from 1 to n

for i in range(2, 10,2): ## here step size os 2
  print(i)

2
4
6
8

In [ ]:
## print odd numbers
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

# FOR LOOPS

In [ ]:
print(list(range(9))) ###Starting value is default 0 and jump value is 1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(list(range(0)))

[]

In [ ]:
print(list(range(-1, 1)))

[-1, 0]

In [ ]:
list(range(5, 2, -1)) ## Negative Jump Size

[5, 4, 3]

In [ ]:
### Print all the numbers from 1 to N using for loop

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for j in range(5, 1, -1):
  print(5, end=' ')

5 5 5 5

In [ ]:
n = 7
for j in range(n):
  print(n-j)

7
6
5
4
3
2
1

In [ ]:
 n = int(input())

50

In [ ]:
sum = 0
for i in range(n):
  sum += i
print(sum)

1225

In [ ]:
3%5

2

In [ ]:
a = 0
while True:
  a = a + 1
  a %= 5
  a += 1
  print(a)
  if a == 5:
    break
print(a)

2
4
1
3
5
5

In [ ]:
a = 0
while True:
  a = a + 2
  a %= 5
  a += 1
  print(a)
  if a == 5:
    break
print(a)

3
1
4
2
5
5

## **Problem Solving 2 **

In [ ]:
# decimal to binary

In [ ]:
bin(10)

'0b1010'

In [ ]:
bin(15)

'0b1111'

In [ ]:
# binary to decimal

In [ ]:
int('1111', 2)

15

In [ ]:
## To get last digit of a number just take the modulo of the number

num = 153
print("last digit = ", num % 10)

last digit =  3

In [ ]:
## to get the remaining digits of a number

num = 153
print("remaining digits = ", num // 10)

remaining digits =  15

In [ ]:
-2 // 2

-1

In [ ]:
## print the following output using for loop 1, 4, 7, 10, 15

for i in range(6):
  if i == 5:
    print(i*3 + 1, end="")
  else:
    print(i * 3 + 1, end=", ")

1, 4, 7, 10, 13, 16

In [ ]:
## print the following exact output using while loop.
## ouptu - 1, 3, 7, 13, 21, 31, 43

v = 1
i = 0
while i <= 6:
  v += 2 * i
  print(v)
  i += 1

1
3
7
13
21
31
43

In [ ]:
# Problem Description

# You are given an integer N you need to print all the Prime Numbers between 1 and N.

# Prime numbers are numbers that have only 2 factors: 1 and themselves. For example, the first 5 prime numbers are 2, 3, 5, 7, and 11.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    n = int(input())
    for i in range(2, n):
        prime = 1
        for j in range(2, i):
            if i % j == 0:
                prime = 0
                break;
        if prime : print(i)
    return 0

if __name__ == '__main__':
    main()

50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# **JUMP STATEMENTS**

In [ ]:
n = 10

In [ ]:
i = 1
while i <= 10:
  if i == 5:
    i += 2
    continue
  print(i, end=" ")
  i += 2

1 3 7 9

In [ ]:
# break statement

In [ ]:
i = 1
while i < 10:
  if i == 5:
    break;
  print(i, end=" ")
  i += 1
print("Hello")

1 2 3 4 Hello

# Nested For loops

In [ ]:
## GCD --> Greatest common divisor

In [ ]:
# HCF --> Highest common factors

In [ ]:
# GCD (16, 24) <= 16

In [ ]:
# GCD (a, b) <= min(a, b)

In [ ]:
# statment --> The first value that i get from right to left(from x to 1 in 1--------x) since we want greatest so it is always found from x to 1 range
# that divides both a, b is gcd(a,b)

In [ ]:
## find GCD of 16, 24

a = 16
b = 24

mini = min(a,b)
for i in range(mini, 0, -1):
  if a % i ==0  and b % i ==0:
    print("GCD of a, b is ", i)
    break;

GCD of a, b is  8

In [ ]:
# LCM --> Least common multiple

In [ ]:
# LCM OF 6, 8

In [ ]:
# multiples of 6 --> 6, 12, 18, 24, 30, 36, 42, 48.
# multiples of 8 --> 8, 16, 24, 32, 40, 48, 72,

# common multiples of 6, 8 are [24, 48]

# so least from 24, 48 are 24.

In [ ]:
# LCM >= a, b

# LCM(a, b) >= max(a,b)

In [ ]:
tempA = 121
revA = 0
while(tempA > 0):
    lastdig = tempA % 10
    print("revA", revA, lastdig)
    revA = (revA * 10) + lastdig
    tempA //= 10
print(revA)

revA 0 1
revA 1 2
revA 12 1
121

In [ ]:
# Problem Description

# Take an integer A as input, you have to tell whether it is a prime number or not.

# A prime number is a natural number greater than 1 which is divisible only by 1 and itself.

In [ ]:
a = int(input())
prime = True
for i in range(2, a):
    if a % i == 0:
        prime = False
        break;
if prime : print("YES")
else: print("NO")

23
YES

In [ ]:
# Write a program to input an integer T and then for each test case input two integers A and B in two different lines and then print T lines containing Least Common Multiple (LCM) of two given 2 numbers A and B.

# Note: LCM of two integers is the smallest positive integer divisible by both.

In [ ]:
t = int(input())
for i in range(t):
    a = int(input())
    b = int(input())
    maxi = max(a, b)
    for j in range(maxi, a*b+1):
        if j % a == 0  and j % b == 0:
            print(j)
            break;

2
1
3
3

KeyboardInterrupt: ignored

In [ ]:
n = int(input())
for i in range(n):
    print("*", " "*(n-2), end="*\n")

4
*   *
*   *
*   *
*   *

In [ ]:
2

2

## **Pattern Printing**

In [ ]:
# Q1 Print the below pattern

# *
# * *
# * * *
# * * * *
# * * * * *

In [ ]:
n = 5
for i in range(1, n+1):
  for j in range(i):
    print("*", end="")
  print("")

*
**
***
****
*****

In [ ]:
# Q2 print the below pattern

# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5 6

In [ ]:
n = 6
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end="")
  print("")

1
12
123
1234
12345
123456

In [ ]:
# Q3 print the following pattern

In [ ]:
# *****
#  ****
#   ***
#    **
#     *

In [ ]:
n = 5
for i in range(n):
  print(" "*(i), end="")
  print("*"*(n-i))

*****
 ****
  ***
   **
    *

In [ ]:
n = int(input())
for i in range(1, n):
    print(" "*(n-i), end="")
    print("* "*i, end=" ")
    print("")

4
   *
  * *
 * * *

In [ ]:
# Print the following pattern


# *
# *2
# *2*
# *2*4
# *2*4*
# *2*4*6

In [ ]:
n = 6
for i in range(1, n+1):
  for j in range(1, i+1):
    if j % 2 == 0:
      print(j, end="")
    else:
      print("*",end="")
  print("")

*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
# Q4 Print the following pattern

# n = 5
# *****
# ****
# ***
# **
# *

In [ ]:
n = 5
for i in range(n, 0, -1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
# Q7: Print the following pattern

# n = 7

#       *
#      **
#     ***
#    ****
#   *****
#  ******
# *******

In [ ]:
n = 7
for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("*"*i)

      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
x = 123
y = str(x)
x = int(y[::-1])
type(x)

int

In [ ]:
x = -321
y = str(x)
if x < 0:
    z = int(y[:0:-1])
    print("z", z)
    # print(-1 * z)
else:
    z = int(y[::-1])
    print(z)

z 123

In [ ]:
s = "abb"
output = ""
if s == s[::-1]:
    print("s",s)
for i in range(len(s)):
    for j in range(len(s)+1):
        res = s[i:j]
        print("res", res)
        if res == res[::-1] and len(res) > len(output):
            output = res
print(output)

res
res a
res ab
res abb
res
res
res b
res bb
res
res
res
res b
bb

In [ ]:
# Q7 print the following pattern

#       *
#      **
#     ***
#    ****
#   *****
#  ******
# *******

In [ ]:
n = 8
for i in range(n):
  print(" "*(n-i), end="")
  print("*"*i)
  print("")

       *

      **

     ***

    ****

   *****

  ******

 *******

In [ ]:
#   Q 7 print the following pattern


# 5 5 5 5 5
# 5 4 4 4 5
# 5 4 3 4 5
# 5 4 4 4 5
# 5 5 5 5 5

## **Problem Solving 3 **

## **addition and convertion from any base to any base. **

In [ ]:
# addition and convertion from any base to any base.

A = 3
B = 220
C = 22
bValue = 0
cValue = 0
i = 0
while B:
    dig = B % 10
    bValue += dig * (A ** i)
    B //= 10
    i += 1

i = 0
while C:
    dig = C % 10
    cValue += dig * (A ** i)
    C //= 10
    i += 1

sum = bValue + cValue


# Converting sum(value = 33) from base 10 to given base (3)
result = 0
p = 0
while sum:
  r = sum%A
  print("r ", r)
  result += r * 10 ** p
  p += 1
  sum //= A
  print("sum ", sum)
print(sum)
print(result)



### Actual solution from dashboard

class Solution:
    # @param A : integer
    # @param B : integer
    # @param C : integer
    # @return an integer
    def AnyBaseAddition(self, A, B, C):
        ans = 0
        carry = 0
        power = 1
        while (B!=0 or C!=0 or carry!=0):
            ld1 = B%10
            ld2 = C%10
            B = B//10
            C = C//10
            summ = ld1 + ld2 + carry
            quotient = summ//A
            remainder = summ%A
            ans += (remainder*power)
            carry = quotient
            power *= 10
        return ans

r  2
sum  10
r  1
sum  3
r  0
sum  1
r  1
sum  0
0
1012

In [ ]:
int('1012', 3)

32

In [ ]:
# 1012

# 1 * 3 ^3 + 0 * 3 ^2 + 1 * 3 ^ 1 + 2 * 3 ^ 0

# 27 + 0 + 3 + 2 = 32

In [ ]:
32 / 3
32 % 3

2

In [ ]:
10.666/3

10.666%3

1.6660000000000004

In [ ]:
3.555/3

3.555%3

0.5550000000000002

In [ ]:
0.555/3

0.555%3

0.555

 Decimal to Any Base

In [ ]:
## My code

class Solution:
    def DecimalToAnyBase(self, A, B):
        result = 0
        p = 0
        while A:
            r = A % B
            result += r * 10 ** p
            p += 1
            A //= B
        return result

In [ ]:
### Original Code

In [ ]:
class Solution:
    def DecimalToAnyBase(self, A, B):
        ans = 0
        po = 1
        while A > 0:
            digit = A%B
            A //= B
            ans += digit*po
            po *= 10
        return ans

In [ ]:
##### Mulitplication

In [ ]:
### My Code
A = 6
B = 21
C = 3
bValue = 0
cValue = 0
i = 0
while B or C:
    dig = B % 10
    dig1 = C % 10
    bValue += dig * (A ** i)
    cValue += dig1 * (A ** i)
    B //= 10
    C //= 10
    i += 1

mul = bValue * cValue
result = 0
i = 0
while mul:
    dig = mul % A
    result +=  dig *(10 ** i)
    mul //= A
    i += 1
print(result)

# 103 ==> 1 * 6 ^2 + 0 * 6 ^1 + 3 * 6 ^ 0
# ==> 36 + 0 + 3 => 39.

# 21 => 2 * 6 ^1 + 1 * 6 ^0 => 12 + 1 => 13
# 3 => 3 * 6 ^ 0 ==> 3 ==> 16.

103

In [ ]:
### Original Code
class Solution:
    def AnyBaseAddition(self, A, B, C):
        num1 = B
        num2 = C
        ans = 0
        carry = 0
        power = 1
        while (num1 != 0 or num2 != 0 or carry != 0):
            ld1 = num1 % 10
            ld2 = num2 % 10
            num1 = num1//10
            num2 = num2//10
            summ = ld1 + ld2 + carry
            quotient = summ // A
            remainder = summ % A
            ans += (remainder * power)
            carry = quotient
            power *= 10
        return ans
    def getSingleProduct(self, A, B, C):
        num1 = B
        num2 = C
        ans = 0
        c = 0
        p = 1
        while (num1>0 or c>0):
            d1 = num1%10
            num1 = num1//10
            d = d1*num2+c
            c = d//A
            d %= A
            ans = ans + d*p
            p *= 10
        return ans
    def AnyBaseMultiplication(self, A, B, C):
        ans = 0
        p = 1
        while (C > 0):
            d2 = C%10
            C = C//10
            singleDigProduct = self.getSingleProduct(A, B, d2)
            ans = self.AnyBaseAddition(A, ans, singleDigProduct*p)
            p *= 10
        return ans

## **Time Complexity of the code**

In [ ]:
# for i in range(n):
#   print(i)

# for j in range(m):
#   print(j)

# Time complexity of the code is n+m

In [ ]:
i = 1
n = 9
while i <= n:
  i += 2


# total number of iterations are n//2

In [ ]:
i = 1
while i * i <= n:
  i += 1

## total number of iterations for this code: sqrt(n)

In [ ]:
i  = 1

while i <100:
  i += 1

## Total number of iterations for this code is 99

In [ ]:
i  = 1

while i <10000:
  i += 1

## Total number of iterations for this code is 9999

In [ ]:
for i in range(n):
  for j in range(m):
    ## task


## Number of iterations are n * m

SyntaxError: ignored

In [ ]:


for i in range(n);

  for j in range(m):

    # task

## Number of iterations n^2

In [ ]:
while i <= m:

  while i <= n:

    j += 1
  i += 2

# Number of iterations
# outer loops run (m+1)//2 times
# inner loop runs n number of times

# total number of iterations ((m+1)//2)*n

Time Complexity

In [ ]:
# Execution time is not the correct measure to test the performance of the code, because it depends on many external factors
# hence we dont compare execution time between 2 algorithsm(logic)

In [ ]:
# conclusions --> no of iterations of the code as a measure of performance

In [ ]:
# Calculate No of iterations

# 1. Ignore lower order terms

# 2. Ignore constatns

# 3. Ignore const coefficients

In [ ]:
# in n^2+2n ==> here order 2 is greater than 2n so n^2 should be considered  time complexity is ==> O(n^2)

In [ ]:
# in n^2 +5n^3+3n+9  in this time complexity is O(n^3)

In [ ]:
# in (n^2)/2+5n+(n^4/9)+5 in this time complexity is O(n^4) ignore lower oders and ignore const coefficients

In [ ]:
# ZIGZAG   ------------------------------- LEET CODE PROBLEM ZIGZAG ----------------------------------------------
# output1 = "P   A   H   N
# A P L S I I G
# Y   I   R"
s = "PAYPALISHIRING"
rows = 3
i = 0
h = 0
reverse = False
output = [[] for i in range(rows)]
for i in range(len(s)):
  output[h].append(s[i])
  if h == rows-1:
    reverse = True

  if h == 0:
    reverse = False

  if reverse:
    h -= 1
  else:
    h += 1

res = ""
for j in range(len(output)):
  res += ("").join(output[j])
print("res ", res)


# print("output ", output)


########################################### ABOVE CODE IS ONLY WORKING FOR NUMROWS > 1 for NUMROWS =1 IT IS NOT WORKING MODIFY IT #################

res  PAHNAPLSIIGYIR

In [ ]:
####### end of python module 1